<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>About page</title>
</head>

<body>

	<section>
		<h1>this is about page </h1>
		<p>A contact manager is a software program that enables users to easily store and find contact information,
			such as names, addresses, and telephone numbers. They are contact-centric databases that provide a fully
			integrated approach to tracking all information and communication activities linked to contacts. Simple ones
			for personal use are included in most smartphones. The main reference standard for contact data and
			metadata, semantic and interchange, is the vCard.</p>

		
	</section>



</body>

</html>